<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Sample Test Suite">
    <listeners>
        <listener class-name="main.java.utils.suiteListener"/>
    </listeners>
    <test name = "Test Automation">
        <parameter name="browserName" value="Chrome" />
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="Run"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="test.java.testSuites.apiSampleTest"/>
        </classes>
    </test>
</suite>